/* GLOBAL STYLES */
html {
  box-sizing: border-box;
  font-size: 18px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: #f9fafd;
  color: #3d4f21;
  font-family: "Homemade Apple";
  line-height: 1.25;
}
::-webkit-input-placeholder {
  font-family: "Quattrocento";
}
::-moz-placeholder {
  font-family: "Quattrocento";
}
.page-sections {
  margin: 0 auto;
  max-width: 1400px;
  padding: 5rem 4rem 0 4rem;
}
h1 {
  font-size: 1.25rem;
}
h2 {
  font-size: 1rem;
}
h1, h2 {
  font-family: "Raleway-Light";
  /*font-weight: bold;*/
}
a {
  color: #a4b07e;
  text-decoration: none;
}
a:hover {
  color: #dcf763;
}
li {
  list-style-type: none;
}
q::before {
  content: '"';
}
q::after {
  content: '"';
}
input, textarea, button {
  font-family: "Quattrocento";
  font-size: .75rem;
}
.section-heading {
  color: #a57d72;
  font-size: 1.75rem;
}

/* HEADER STYLES */
.header {
  background-color: #a4b07e;
  position: fixed;
  width: 100%;
}
.header-content {
  align-items: flex-end;
  color: #92938d;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1400px;
  padding: .5rem 2rem;
}
.brand {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.brand-copy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.brand-copy h1 {
  text-transform: uppercase;
}
.brand-copy h2 {
  font-family: "Quattrocento";
  font-weight: normal;
}
.brand-copy h1, .brand-copy h2 {
  margin-left: 1rem;
}
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-links li {
  margin-right: 1rem;
}
.nav-links a {
  color: #f1f2ee;
}
.nav-links a:hover {
  color: #dcf763;
}
.brand img {
  height: 4rem;
  width: 4rem;
}

/* HOME STYLES */
.home {
  padding: 2rem;
}
.intro {
  padding: 0 35%;
  text-align: center;
}
.intro p {
  margin-top: 1rem;
}
.services h1 {
  text-align: center;
}
.service-list h2 {
  margin: 1% 0;
}
.service-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.service-item {
  padding-top: .5rem;
}
.service-column {
  flex: 1;
  padding: 2%;
}
.testimonials, .services {
  margin-top: 2rem;
}
.testimonials h1 {
  margin-bottom: 1rem;
  text-align: center;
}
.testimonials h2 {
  margin-bottom: .5rem;
}

/* SEE MY WORK STYLES */
.see-my-work {
  padding: 2rem;
}
.see-my-work h1 {
  margin-bottom: 1.75rem;
  text-align: center;
}
.see-my-work p {
  text-align: center;
}
.work-samples {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.work-samples article {
  text-align: center;
}
.work-samples img {
  margin: 1rem 0;
}

/* ABOUT ME STYLES */
.about-me {
  padding: 2rem 35%;
  text-align: center;
}
.about-me h1 {
  margin-bottom: 1.75rem;
}
.about-me img {
  border: solid #cfd1ca .25rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 15rem;
}

/* CONTACT STYLES */
.contact {
  padding: 2rem;
  text-align: center;
}
.contact h1 {
  margin-bottom: 1.75rem;
}
.form {
  text-align: right;
  padding: 0 35%;
}
.form button {
  background-color: #a4b07e;
  border: 1px solid #517f78;
  padding: .5rem 1rem;
}
.form input, .form textarea {
  border: 1px solid #a4b07e;
  width: 100%;
}
.form input {
  padding: .25rem;
}
.form textarea {
  padding: .25rem;
}
.form input, .form textarea, .form button {
  margin-top: .5rem;
}

/* RESPONSIVE DESIGN STYLES */
/* PHONE STYLES*/
@media (max-width: 600px) {
  /* GLOBAL STYLES */
  html {
    font-size: 14px;
  }
  /* HEADER STYLES */
  .header-content {
    display: block;
  }
  .brand {
    display: block;
    text-align: center;
  }
  .brand-copy h1, .brand-copy h2 {
    margin-left: 0;
  }
  .nav-links {
    margin-top: 1rem;
  }
  .header nav {
    border-top: 1px solid #f1f2ee;
    margin-top: 1rem;
  }
  /* HOME STYLES */
  .home {
    padding: 2rem 2rem 0 2rem;
  }
  .page-sections {
    padding: 11rem .5rem 0 .5rem;
  }
  .service-list {
    flex-direction: column;
    text-align: center;
  }
  .testimonials article {
    text-align: center;
  }
  /* SEE MY WORK STYLES */
  .see-my-work {
    padding: 2rem 0;
  }
}
/* TABLET PORTRAIT STYLES*/
@media (max-width: 900px) {
  /* HOME STYLES */
  .intro {
    padding: 0;
  }
  /* SEE MY WORK STYLES */
  .work-samples {
    flex-direction: column;
  }
  /* ABOUT ME STYLES */
  .about-me {
    padding: 0;
  }
  /* CONTACT STYLES */
  .form {
    padding: 0;
  }
}
/* TABLET LANDSCAPE STYLES*/
@media (max-width: 1200px) {}
/* BIG DESKTOP STYLES*/
@media (min-width: 1800px) {}
